body {
  margin: 0;
  padding: 0;
  font: 1rem/0.1rem;
  /* margin:0 4rem 0 4rem; */
}

#main {
  margin: 0 4rem 0 4rem;
  /* height:auto; */
  background-color: lightgray;
  border: 2px red;
}

/* header*/

header {
  height: auto;
  overflow: hidden;
}
header .container {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}
header .image_section {
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 1.5rem;
  /* border:green 2px solid; */
}

header img {
  width: 3vw;
  height: 5vh;
  margin: auto;
}

header #search_content {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-weight: bold;
}

header .search_form {
  margin: auto 0 auto 0;
  width: 63%;
  display: flex;
  /* border: blue 2px solid; */
  overflow: hidden;
}

header input {
  width: 80vw;
  height: 2rem;
  border: 0;
  font-size: 1.2em;
  outline: none;
}

header #search_icon {
  margin: auto 0 auto 0;
  background-color: white;
  height: 2.1rem;
}

header .settings {
  display: flex;
  /* justify-content:space-around; */
  /* align-items: center; */
  /* margin: auto 0 auto 0; */
  font-weight: bold;
  font-size: 1.5rem;
}
header #settings_icon {
  margin: 1.5rem 0 auto 0;
  height: 2.5rem;
  width: 8rem;
}

header .settings p {
  padding-top: 0.5rem;
}

/*search engine*/

section {
  padding: 0.5rem;
}

.search_engine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search_engine #selector {
  width: 25%;
  display: flex;
  padding-left: 1rem;
  justify-content: space-between;
}

.search_engine img {
  padding-right: 1rem;
  width: 3vw;
  height: 3vh;
}

#content a {
  text-decoration: none;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: black;
}

footer {
  margin: 0 4rem 0 4rem;
  display: flex;
  justify-content: center;
}

footer ul li {
  display: inline;
  padding-left: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: black;
}
